html{
    background-image: linear-gradient(to right top, #a18cd1 0%, #fbc2eb 100%);
    height: 100%;
}
#login_box{
    width: 300px;
    height: 190px;
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    margin: 15% auto;
    padding-top: 20px;
    border: 0;
    border-radius: 30px;
    box-shadow: #00fdd5 5px 5px 10px;
}
form{
    font-family: "萝莉体";
}
#login_LG{
    font-family: "萝莉体";
    font-size: 25px;
    margin: 10px;
}
/* svg图标css参数 */
#login{
    display: block;
    margin-left: 80px;
    float: left;
}
#Icon_username{
    width: 20px;
    height: 20px;
    float: left;
    display: block;
    margin-top: 6px;
    margin-left: 30px;
    margin-right: 5px;
}
#Icon_userpwd{
    width: 24px;
    height: 24px;
    float: left;
    display: block;
    margin-top: 2px;
    margin-left: 26px;
    margin-right: 5px;
}
/* 表单格式设计 */
lable{
    width: 300px;
    height: 40px;
    /*background-color: #a18cd1;*/
    display: block;
    margin-top: 15px;
    margin-bottom: -30px;
}
input{
    height: 30px;
    border-radius: 20px;
    border: none;
    padding-left: 10px;
}
input[type="submit"],input[type="reset"]{
    width: 100px;
    margin-top: 20px;
    margin-left: -30px;
    margin-right: 50px;
    font-family: "萝莉体";
    letter-spacing: 5px;
    font-size: 20px;
    background-color: #4187ff;
    box-shadow: 3px 3px 8px #4187ff;
    transition: 1s;
}

input[type="submit"]:hover{
    transition: 1s;
    color: aquamarine;
}
input[type="reset"]:hover{
    transition: 1s;
    color: aquamarine;
}


span{
    margin-right: 10px;
}